Tipe data python:

- integer: angka bulat
- floats: angka desimal
- string: kumpulan karakter
- boolean: true / false
- list: array (kumpulan dari data)

### INTEGERS

In [2]:
1

1

In [3]:
type(1)

int

In [4]:
print(type(1))

<class 'int'>

### FLOATS

In [5]:
10.5

10.5

In [6]:
type(10.5)

float

In [7]:
15.8
type(15.8)

float

In [8]:
print(15.8)
print(type(15.8))

15.8
<class 'float'>

In [9]:
0.2 == .2

True

In [10]:
5e2

500.0

In [11]:
5e-2

0.05

### STRING

In [12]:
"kasur"

'kasur'

In [13]:
'halo'

'halo'

In [14]:
"pasti error'

SyntaxError: unterminated string literal (detected at line 1) (1100670022.py, line 1)

In [15]:
type('helo')

str

In [17]:
print(type('helo'))

<class 'str'>

### BOOL

In [18]:
True

True

In [20]:
False

False

In [21]:
type(True)

bool

In [22]:
type(False)

bool

### VARIABLE

- tempat untuk nyimpan data dengan menggunakan A-Z, a-z, 0-9, _

* gak bisa dimulai dengan angka
* gak bisa pake special character

In [23]:
x = 50

In [24]:
print(x)

50

In [25]:
x == "X"

False

In [26]:
print('x')

x

In [27]:
x = 50
print(x)
print(type(x))

50
<class 'int'>

In [28]:
x = 5
y = 5
z = 5
print(x, y, z)

5 5 5

In [29]:
a = b = c = 15
print(a, b, c)

15 15 15

In [30]:
nama_1 = "adi"
Nama_1 = "budi"
naMa_1 = "charles"

print(nama_1)
print(Nama_1)
print(naMa_1)

adi
budi
charles

### OPERATORS

- (+) penambahan
- (-) pengurangan
- (/) pembagian (hasil float)
- (//) pembagian (hasil int)
- (*) pengalian
- (**) pangkat
- (%) mod (sisa pembagian)

In [31]:
print(a, b)

15 15

In [32]:
print(15 + 15)
print(a + b)
print(a - 5)

30
30
10

In [33]:
halo = 20
print(halo + 15)

35

In [34]:
halo = "goodbye"
print(halo + 15)

TypeError: can only concatenate str (not "int") to str

In [35]:
print(15 + 20.0)

35.0

In [36]:
print(50 / 5)
print(50 // 5)
print(50 // 8)

10.0
10
6

In [37]:
print(50 * 2)
print(50 * 2.5)

100
125.0

In [38]:
print(2 ** 5)
print(64 ** 0.5)

32
8.0

In [39]:
50 % 8

2

In [40]:
(5 + 10) * 3 - 1 ** (12 - 2)

44

### COMPARISON

- (==)
- (!=)
- (<)
- (>)
- (<=)
- (>=)

In [41]:
x = 5

In [42]:
x == 5

True

In [43]:
x == "halo"

False

In [45]:
x != "halo"

True

In [46]:
5<8

True

In [47]:
'0' < "a"

True

In [48]:
type("ars!@#:\|{><})")

str

In [49]:
"A" < "a"

True

In [50]:
"a" < "h"

True

In [51]:
print("ape" > "hotel")
print("ape" < "hotel")

False
True

In [52]:
print("hello" > "tv")
print("hello" < "tv")

False
True

In [53]:
True == True

True

In [54]:
True == False

False

In [56]:
True != False

True

In [57]:
False == False

True

### STRING

In [58]:
"a" + "b"

'ab'

In [59]:
"a" * 5

'aaaaa'

In [60]:
print("jalan section A")
print("50 + 50 = ", 50 + 50)
print("=" * 80) 
print("jalan section B")

jalan section A
50 + 50 =  100
================================================================================
jalan section B

In [61]:
print("foo" + "bar")

foobar

In [62]:
a = "sa"
b = "ya"
print(a + b)

saya

In [63]:
print("sa " * 5)

sa sa sa sa sa

In [65]:
a in "saya mau makan"

True

In [66]:
kalimat = "saYa mAu mAKan"

In [67]:
kalimat.capitalize()

'Saya mau makan'

In [68]:
kalimat.replace("a", "x")

'sxYx mAu mAKxn'

In [69]:
str.capitalize(kalimat)

'Saya mau makan'

In [70]:
kalimat.upper()

'SAYA MAU MAKAN'

In [71]:
kalimat.lower()

'saya mau makan'

In [72]:
kalimat.swapcase()

'SAyA MaU MakAN'

In [73]:
kalimat.title()

'Saya Mau Makan'

### LISTS

- daftar dari apapun (str, float, int, dict, list)
- ngurut
- mutable
- bisa diakses dengan index
- [ ]

In [74]:
a = ["apel", "pisang", "durian", "jeruk", "semangka", "salak"]
b = ["mobil", "motor", "angkot", "bus"]

print(a)
print(b)

['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak']
['mobil', 'motor', 'angkot', 'bus']

In [75]:
c = ['apel', 45, True, ["merah", "biru", "hijau"]]

In [76]:
print(c[0])
print(c[1])
print(c[2])
print(c[3])

apel
45
True
['merah', 'biru', 'hijau']

In [77]:
a == b

False

In [78]:
a[2]

'durian'

In [82]:
a

['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak']

In [83]:
print(a[-4])
print(a[-3])
print(a[-2])
print(a[-1])
print(a[0])
print(a[1])
print(a[2])
print(a[3])

durian
jeruk
semangka
salak
apel
pisang
durian
jeruk

In [84]:
a

['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak']

In [85]:
a[0:2]

['apel', 'pisang']

In [86]:
0.2 == .2

True

In [87]:
a[3:5]

['jeruk', 'semangka']

In [88]:
a[0:3]

['apel', 'pisang', 'durian']

In [89]:
a[:3]

['apel', 'pisang', 'durian']

In [91]:
a[1:]

['pisang', 'durian', 'jeruk', 'semangka', 'salak']

In [92]:
a[:-1]

['apel', 'pisang', 'durian', 'jeruk', 'semangka']

In [93]:
a[-3:]

['jeruk', 'semangka', 'salak']

In [94]:
a[:3]

['apel', 'pisang', 'durian']

In [95]:
a[2:-2]

['durian', 'jeruk']

In [96]:
a

['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak']

In [97]:
a[2:5]

['durian', 'jeruk', 'semangka']

In [98]:
a[2:-1]

['durian', 'jeruk', 'semangka']

In [99]:
kalimat[3:-3]

'a mAu mA'

In [100]:
kalimat

'saYa mAu mAKan'

In [101]:
print(len(kalimat))
print(len(a))

14
6

In [102]:
c

['apel', 45, True, ['merah', 'biru', 'hijau']]

In [103]:
print(len(c))

4

In [104]:
a[2] = "makanan"

In [105]:
a

['apel', 'pisang', 'makanan', 'jeruk', 'semangka', 'salak']

In [106]:
kalimat

'saYa mAu mAKan'

In [ ]:
immutable vs mutable
str vs          list

In [107]:
a[-2:] = [5, 8]

In [108]:
a

['apel', 'pisang', 'makanan', 'jeruk', 5, 8]

In [109]:
a[:3] = [2, 4]

In [110]:
a

[2, 4, 'jeruk', 5, 8]

### TUPLES

- immutable
- ( )

In [111]:
buah_tup = ('apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak')

In [112]:
buah_tup[0] = "makanan"

TypeError: 'tuple' object does not support item assignment

#### DICTIONARY
- [] list
- () tuples
- {} dict
- pairing key dan value
- key harus unik
- mutable
- no indexing

In [113]:
x = ['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak','salak','salak','salak',    'salak', 'apel']

In [114]:
x

['apel',
 'pisang',
 'durian',
 'jeruk',
 'semangka',
 'salak',
 'salak',
 'salak',
 'salak',
 'salak',
 'apel']

In [115]:
buah_warna = {"apel": "merah", "pisang": "kuning", "durian": "hijau", "salak": "coklat", 0: "aneh", "darah": "merah"}

In [116]:
buah_warna

{'apel': 'merah',
 'pisang': 'kuning',
 'durian': 'hijau',
 'salak': 'coklat',
 0: 'aneh',
 'darah': 'merah'}

In [117]:
buah_warna[0]

'aneh'

In [118]:
buah_warna["apel"]

'merah'

In [119]:
buah_warna[0] = "diganti"

In [120]:
buah_warna

{'apel': 'merah',
 'pisang': 'kuning',
 'durian': 'hijau',
 'salak': 'coklat',
 0: 'diganti',
 'darah': 'merah'}

In [121]:
buah_warna["oli"] = "hitam"

In [122]:
buah_warna

{'apel': 'merah',
 'pisang': 'kuning',
 'durian': 'hijau',
 'salak': 'coklat',
 0: 'diganti',
 'darah': 'merah',
 'oli': 'hitam'}

In [123]:
biodata = {"nama": "john", "umur": 51, "pasangan": "edna", "anak": ["ralph", "joe"]}

In [124]:
biodata

{'nama': 'john', 'umur': 51, 'pasangan': 'edna', 'anak': ['ralph', 'joe']}

In [125]:
biodata_list = ["john", 51, "edna", ["ralph", "joe"]]

In [126]:
biodata_list

['john', 51, 'edna', ['ralph', 'joe']]

In [127]:
biodata["umur"]

51

In [128]:
sub_list = [
    {"nama": "john", "umur": 51, "pasangan": "edna", "anak": ["ralph", "joe"]},
    {"nama": "ben", "umur": 41, "pasangan": "dina", "anak": ["ralph", "joe"]}
]

In [129]:
sub_list

[{'nama': 'john', 'umur': 51, 'pasangan': 'edna', 'anak': ['ralph', 'joe']},
 {'nama': 'ben', 'umur': 41, 'pasangan': 'dina', 'anak': ['ralph', 'joe']}]

In [130]:
sub_list[1]["umur"]

41

In [131]:
c

['apel', 45, True, ['merah', 'biru', 'hijau']]

In [132]:
c[3]

['merah', 'biru', 'hijau']

In [133]:
z = c[3]

In [134]:
z

['merah', 'biru', 'hijau']

In [135]:
z[1]

'biru'

In [136]:
c[3][1]

'biru'

In [137]:
z == c[3]

True

### PANJANG LINE

In [138]:
x = 5 + 10 \
    * 20
print(x)

205

In [13]:
def outerFun(a,b):
    def innerFun(c,d):
        return c+d
    return innerFun(a,b)
res = outerFun(5, 10)
print(res)

15

In [19]:
x = int(5)
print(x)

5